

.center_div{
  margin: 0 8em;
}
@media(max-width: 1200px){
  .center_div{
   margin: 0 5em;
  }  
}

@media(max-width: 1000px){
 .center_div{
  margin: 0 2em;
 }  
}

@media(max-width: 850px){
 .center_div{
  margin: 0 1em;
 }  
}



.cart{
  .center_div{
    .top{
      margin: 1.5em 0;
      // .title{
      //   font-weight: 500;
      //   color: #22343D;
      //   padding: 10px 0;
      // }
      .shopping_title{
        border-bottom: 1px solid #D9D9D9;
        font-size: 1.6em;
        font-weight: 500;
        color: #22343D;
        padding: 10px 0;
      }
      .body{
        .empty-chart{
          margin: 5em auto;
           width: 24%;
           img{
            opacity: 0.8;
             width: 100%;
           }
           .details{
             text-align: center;
             margin: 1em 0;
             p{
               font-size: 18px;
             }
             button{
              margin: 1em 0;
              background-color: rgb(112, 112, 112);
              color: white;
              padding: 0.4em 1.5em;
              font-size: 15px;
              border-radius: 4px;
              border: none;
              cursor: pointer;
              &:hover{
                background-color: rgb(131, 131, 131);
              }
            }
          }
        }
        .cartList-Total{
          .cartList{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: relative;
            padding:20px 0;
            border-bottom: 1px solid #D9D9D9;
            .left{
              display: flex;
              justify-content: space-between;
              width: 100%;
              position: relative;
              .image{
                width: 20%;
                img{
                  width: 100%;
                   min-width:120px;
                   max-width: 120px;
                  object-fit: cover;
                  object-position: top;
                  height: 100%;
                }
              }
              .title-details{
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                 width: fit-content;
                .best-selling{
                  width: fit-content;
                  color: #074942;
                  font-size: 14px;
                  font-weight: 500;
                }
                .cart-title{
                  font-size: 16px;
                  font-weight: bold;
                  color: #22343D;
                }
                .cart-date{
                  font-size: 14px;
                  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  color: #667085;  
                }
                
              }
            }
            .right{
              display: flex;
              align-self: flex-end;
              padding-right: 10px;
              height: 100%;
              text-align: right;
              .remove span{
                margin-right: 10px;
                font-size: 12px;
                padding: 2px 2px;
                cursor: pointer;
                position: absolute;
                color: red;
                top: 5px;
                right: 0;
                &:hover{
                  color: #ff0000;
                  background-color: #DADADA;
                }
              }
              .price-tag{
                p{
                  margin: 5px 0;
                }
                button{
                  background-color: #007568;
                  color: white;
                  padding: 0.2em 1.5em;
                  font-size: 14px;
                  border-radius: 2px;
                  border: none;
                  cursor: pointer;
                  &:hover{
                    background-color: #0d4d45;
                  }
                }
              }
            }
          }
          .total{
              position: relative;
              width: 25%;
              left: 75%;
              padding: 10px 0; 
            button{
              background-color: rgb(59, 59, 59);
              margin-top: 10px;
              color: white;
              padding: 0.3em 1.5em;
              font-size: 15px;
              border-radius: 2px;
              border: none;
              cursor: pointer;
              &:hover{
                background-color: rgb(43, 43, 43);
              }  
            }
          }
        }
         
      }
        
    }
  }
}
    
    

@media (max-width:1200px) {
  .cart{
    .center_div{
      .top{
        margin: 1em 0;
        // .title{
        //   font-size: 1.4em;
        //   font-weight: 500;
        //   color: #22343D;
        // }
        .shopping_title{
          border-bottom: 1px solid #D9D9D9;
          font-size: 1.4em;
          font-weight: 500;
          color: #22343D;
        }
        .body{
          .empty-chart{
            margin: 3em auto;
            width: 35%;
            img{
             opacity: 0.6;
              width: 100%;
            }
            .details{
              text-align: center;
             
              p{
                font-size: 15px;
              }
              button{
               padding: 0.4em 1.7em;
               font-size: 15px;
               border-radius: 3px;
             }
            }
          }
        }
      }   
    }
  }  
}






@media (max-width:850px) {
  .cart{
    .center_div{
      .top{
         margin: 1em 0;
        // .title{
        //   font-size: 1.4em;
        //   font-weight: 500;
        //   color: #22343D;
        // }
        .shopping_title{
          font-size: 1.4em;
          font-weight: 500;
          color: #22343D;
        }
        .body{
          .empty-chart{
            width: 60%;
            margin: 2em auto;
            .image{
              margin: auto;
              width: 70%;
              img{
                opacity: 0.8;
                width: 100%;
              }
            }
            .details{
              text-align: center;
              p{
                font-size: 15px;
              }
              button{
                background-color: rgb(112, 112, 112);
                color: white;
                padding: 0.3em 1.5em;
                font-size: 14px;
              }
            }
          }    
        }
      }       
    }
  } 
}

@media(max-width:620px){
    .cart{
  .center_div{
    .top{
      .body{
        .cartList-Total{
          margin: 0;
          .cartList{
            width: 100%;
            flex-wrap: wrap;
            padding:20px 0;
            .left{
              flex-wrap: wrap;
              width: 100%;
              .title-details{
                margin-left: 0px;
                width: 100%;
                .cart-date{
                  margin: 5px 0;
                }
              }
             }
            .right{
              width: 100%;
              margin-top: 0.8em;
              text-align: left;
            }
          }
          .total{
            position: relative;
            width: 100%;
            left: 0%;   
          } 
        }  
      }   
    }
  }
}
    
}

@media(max-width:500px) {
  .cart{
    .center_div{
      .top{
        margin: 1em 0;
        .shopping_title{
          font-size: 1.4em;
          font-weight: 500;
          color: #22343D;
        }
        .body{
          .empty-chart{
            width: 90%;
          }
        }
      }       
    }
  } 
}



