.cart{
  .center-div{
    .title{
      background-color: black;
      padding: 1em 5em;
    }
    .body{
      .cartList-Total{
        margin: 10px 10%;
        border: 1px solid black;
         padding: 0.6em;
        .cartList{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          // flex-wrap: wrap;
          border : 1px solid rgb(88, 87, 87);
          position: relative;
          .left{
            display: flex;
            width: 100%;
            padding: 0.4em;
            .title-details{
              margin-left: 20px;
            }
            .image{
                width: 40%;
              img{
                  width: 100%;
              }
            }
          }
          .right{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            padding: 0.4em 0.4em 0 0;
            //border: 1px solid black;
            
            .remove{
              margin-right: 10px;
              cursor: pointer;
              position: absolute;
              top: 0;
              right: 0;
            }
          }
        }
          .total{
             position: relative;
             width: 20%;
             left: 80%;
             
          }
      }
        
    }
      
  }
}


@media (max-width:1200px) {
  .cart{
    .center-div{
      .body{
        .cartList-Total{
          .cartList{
            .left{
              .title-details{
                margin-left: 20px;
              }
            }
            
          }
            .total{
               position: relative;
               width: 50%;
               left: 50%;   
            }
        }
          
      }
        
    }
  }
  
}






@media (max-width:800px) {
  .cart{
    .center-div{
      .body{
        .cartList-Total{
          .cartList{
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            width: 100%;
            flex-wrap: wrap;
            .left{
              display: flex;
              width: 100%;
              padding: 0.4em;
              .title-details{
                margin-left: 20px;
              }
            }
            .right{
              display: flex;
              justify-content: flex-start;
              width: 100%;
              padding: 0.4em 0.4em 0 0;
            }
          }
            .total{
               position: relative;
               width: 100%;
               left: 0%;   
            }
        }
          
      }
        
    }
  }
  
}