

.center_div{
  margin: 0 8em;
}
@media(max-width: 1200px){
  .center_div{
   margin: 0 5em;
  }  
}

@media(max-width: 1000px){
 .center_div{
  margin: 0 2em;
 }  
}

@media(max-width: 850px){
 .center_div{
  margin: 0 1em;
 }  
}



.eachCategoryList {
  .TopCourses{
    margin: 3em 0 7em 0;
    .category_heading{
      color: #22343D;
      margin: 1.3em 0 0.6em 0;
      font-size: 1.5em;
      font-weight: 500;  
    }
  }
}


@media(max-width: 1200px){
  .eachCategoryList{
    .TopCourses{
      margin: 2em 0 5em 0;
      .category_heading{
        margin: 1.1em 0 0 0.3em 0;
        font-size: 1.3rem ;   
      }
    }
  }
}
  
@media(max-width: 850px){
  .eachCategoryList{
    .TopCourses{
      margin: 1.2em 0 3em 0;
      .category_heading{
        margin: 1em 0 0.1em 0;
        font-size: 1.2rem ;   
      }
    }
  }
  }


@media(max-width: 500px){
  .eachCategoryList{
    .TopCourses{
      margin: 1.1em 0 1.5em 0;
      .category_heading{
        margin: 1em 0 0.1em 0;
        font-size: 1.1rem ;   
      }
    }
  }
}



.allCategory{
  margin: 5em 0;
  .button{
    margin: 3em 0;
    text-align: center;
    button{
      padding: 7px 20px;
      font-size: 15px;
      outline: none;
      border: none;
      background-color: #02897A;
      color: #fff;
      font-weight: 500;
      cursor: pointer;
      border-radius: 2px;
      transition: 0.3s;
      &:hover{
        background-color: #dfdfdf;
        color: #02897A;
      }
    }
  }
  @media(max-width: 1200px){
    margin: 4em 0;
  }
  @media (max-width: 850px){
    margin: 2em 0;
  }
  .allCategories-box {
    border-bottom: 1px solid #D9D9D9;

    &:hover{
     
      transform: scale(1.02);
    }
    .right{
      width: 80%;
      margin-left: 20px;
      @media(max-width: 850px){
        width: 65%;
      }
      @media(max-width: 300px){
        width: 100%;
      }
      .category_title{
        @media (max-width: 850px){
         // font-size: 1.2rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        
      }
    }
    .image{
      width: 15%;
      img{
        width: 100%;
      }
      @media(max-width: 1200px){
        width: 20%;
      }
      @media(max-width: 850px){
        width: 25%;
      }
      @media(max-width: 300px){
        width: 100%;
        height: 150px;
        margin: 10px 0 20px 0;
      }
    }
  }
}
