

.checkOutPage {
  height: 100vh;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 8em;
    .cancel {
      cursor: pointer;
      background-color: #02897A;
      padding: 4px 25px;
      border-radius: 50px;
      color: rgb(255, 255, 255);
      &:hover {
        background-color: #007568;
      }
    }
  }
  .checkout_body {
    .center_div {
      margin: 5em 8em;
      // .title {
      //   p {
      //     font-size: 35px;
      //     color:#22343D;
      //     font-weight: 500;  
      //   }
      // }
      .body {
        display: flex;
        justify-content: space-between;
        padding: 3em 0;
        border-bottom: 1px solid #D9D9D9;
        border-top: 1px solid #D9D9D9;
        .left {
          width: 50%;
          overflow-y: scroll;
          height: 333px;
          &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
            background-color: rgb(121, 180, 175);
            border-radius: 100px;
          }
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }
          &::-webkit-scrollbar-thumb {
            background-color: rgb(112, 112, 112);
            border-radius: 100px;
          }

          .paystack-page {
            .bank-card {
              width: fit-content;
              margin: 20px auto 0 auto;
              cursor: pointer;
            }
            .paystack-details{
              font-family: poppins;
              font-size: 13px;
              font-weight: 500;
              p{
                text-align: center;
                margin-bottom: 20px;
              }
              span{
                color: rgb(209, 95, 95); 
              }
            }
          }
          .OrderDetails {
            margin-top: 20px;
            .heading {
              font-size: 25px;
              font-weight: 600;
              border-bottom: 1px solid #D9D9D9;
              padding: 10px 0;
              color:#22343D
            }
            .details {
              display: flex;
              border-bottom: 1px solid #D9D9D9;
              padding: 10px 0;
              .details_left {
                width: 80%;
                display: flex;
                color: #22343D;
                img {
                  width: 70px;
                }
                .about {
                  margin-left: 10px;
                  font-weight: 600;
                }
              }
              .details_right {
                width: 20%;
                text-align: right; 
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: auto;
                border-radius: 0;
                box-shadow: none;
              }
            }
          }
        }
        .right {
          background-color: white;
          width: 40%;
          height: 100%;
          box-shadow: 0px 0px 20px rgba(45, 44, 44, 0.1);
          .summary {
            padding:  15px;
            .heading {
              font-weight: 500;
              font-size: 25px;
              color:#015364;
              text-align: center;
              margin-bottom: 10px;  
            }
            .details {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-bottom: 1px solid #E4E7EC;  
              padding: 10px 0;
              font-weight: 500;
              .price *{
                color:#667085;
                margin: 12px 0;
              }
              .amount *{
                color:#475467;
                margin: 12px 0;
              }
            }
            .total {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-weight: 500;
              font-size: 20px;
              color: #344054;
              margin: 10px 0 30px 0;
              .total_price{
                color: #026E78
              }
            }
            .payment-notice {
              font-size: 14px;
              font-weight: 500;
              color: #667085;
              text-align: center;
              width: 80%;
              margin: auto;
              a{
                color: #015364;
                text-decoration: none;
              }
            }
          }
          .payment-button button {
            width: 100%;
            cursor: pointer;
            padding: 0.7em;
            font-size: 15px;
            font-weight: 600;
            background-color: #02897A;
            color: white;
            border: none;
          }
        }
      }
    }
  }
}

/////////////////////////////////MOBILE////////////////////

@media (max-width: 1200px) {
  .checkOutPage {
    .header{
      margin: 0 5em;
    }
    .checkout_body {
      .center_div {
        margin: 5em 5em;
      // .title {
      //   p {
      //     font-size: 30px;
      //   }
      // }
        .body {
          .left {
            width: 54%;
            .OrderDetails {
              .heading {
                font-size: 22px;
              }
            }
          }
          .right {
            width: 45%;
          }
        }
      }
    }
  }
}

@media(max-width:1000px){
  .checkOutPage{
    .header{
      margin: 0 2em;
    }
    .checkout_body{
      .center_div{
        margin: 5em 2em;
      }
    }
  }
}

@media (max-width: 750px) {
  .checkOutPage {
    position: relative;
    .header{
      margin: 0 1em;
    }
    .checkout_body {
      .center_div {
        margin: 0.5em 1em;
        .title {
          p {
            font-size: 25px;
          }
        }
        .body {
          flex-wrap: wrap;
          .left {
            width: 100%;
            .OrderDetails {
              .heading {
                font-size: 20px;
              }
              .details {
                display: flex;
                .details_left{
                  .about {
                    margin-left: 10px;
                    font-weight: 500;
                  }
                }
              }
            }
          }
          .right {
            width: 100%;
            margin-top: 20px;
            border-radius: 0px;
            box-shadow: none;
            .summary {
              margin: 20px 0 50px 0;
              .heading {
                font-weight: 700;
                font-size: 22px;
              }
              .details {
                width: 100%;
              }
              .total {
                font-size: 16px;
              }  
              .payment-notice {
                width: 90%;  
              }
            }
            .payment-button button {
              border: none;
              border-radius: 0px;
              position: fixed;
              bottom: 0;
              width: 100%;
              left: 0;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .checkOutPage {
    .checkout_body {
      .center_div {
        .body {
          .left {
            .paystack-page {
              .bank-card {
                width: 100%;
                margin: 20px auto 0 auto;
                cursor: pointer;
                overflow-x: auto;
              }
            }
          }
          
        }
      }
    }
  }
}
