@mixin border-radius($x) {
  border-radius: $x;
  -webkit-border-radius: $x;
  -moz-border-radius: $x;
  -ms-border-radius: $x;
  -o-border-radius: $x;
}


.courseSelected{
  .center-div{
    margin: 20px 120px;

    .sameCategoryCourses{
      display: flex;
      align-items: center;
      justify-content: space-between;
     .course-box + .course-box {
        margin-left: 20px;
      }
      .course-box {
        border: 1px solid black;
       .image{
          img{
            width: 100%;
          }
        }
        .box-details{
          padding-left: 10px;
        }
      }

    }
  }
}

.review-div{
  width: 95%;
  margin: 20px auto;
   .review-heading{
     display: flex;
     align-items: center;
     justify-content: space-between;
     .search-review{
       input{
         width: 200%;
         height: 30px ;
         border: 1px solid rgb(107, 107, 107);
         @include border-radius(7px);
         ::placeholder{
          
         }
        }
      }
      .filter-review{
        select{
          width: 100%;
          padding: 0.5em 2em;
          outline: none;
          border: 1px solid black;
        }
      }
   }
   .review-body{
     display: flex;
     padding: 1em 0.2em;
    //  flex-wrap: wrap;
     .left{
       .avatar{
         width: 100%;
         img{
           width: 50px;
           @include border-radius(50px);
          }
       }
     }
     .right{
      margin-left: 10px;
     }
   }
}




// //////////////////////////////////////////////////MOBILE /////////////////////////////////////////


@media(max-width: 1200px) {
  .courseSelected{
    .center-div{
      margin: 20px 30px;
    }
  }
}

@media(max-width: 800px){
  .courseSelected{
    .center-div{
      margin: 20px 30px;
      .sameCategoryCourses{
        display: flex;
        // align-items: center;
        // justify-content: space-between;
        overflow-x: scroll;
       .course-box + .course-box {
           margin-left: 20px;
        }
        .course-box {
           border: 1px solid black;
          //  width: 200px;
         .image{
            img{
              width: 100%;
            }
          }
          .box-details{
            padding-left: 10px;
          }
        }
  
      }
    }
  }

  .review-div{
    width: 95%;
    margin: auto;
     .review-heading{
      .search-review{
        input{
          width: 100%;
          height: 26px ;
          border: 1px solid rgb(107, 107, 107);
          @include border-radius(4px);
          ::placeholder{
           
          }
         }
       }
       .filter-review{
         select{
           width: 100%;
           padding: 0.2em 1em;
           outline: none;
           border: 1px solid black;
         }
       }
     }
     .review-body{
       flex-wrap: wrap;
       .left{
       }
       .right{
        margin-left: 0px;
       }
     }
  }
  
}