@mixin border-radius($x) {
  border-radius: $x;
  -webkit-border-radius: $x;
  -moz-border-radius: $x;
  -ms-border-radius: $x;
  -o-border-radius: $x;
}


.courseSelected{
  //margin-top: 50px;
  .center-div{
    margin: 50px 120px;
    .categoryFlex{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid black;
      width: 100%;
      //padding: 0px 10px;
      .categoryDetails{
        border: 1px solid black;
        width: 50%;
        height: 100%;
     }
      .preview{
        border: 1px solid black;
        width: 35%;
        margin-right: 10px;
        height: 100%;
        .instruction{
          text-align: center;
          margin-bottom: 20px;
          animation: MoveUpDown 2s linear infinite;
          position: relative;
        }
      }
      
    }

   .sameCategoryCourses-div{
     //border: 1px solid rgb(0, 0, 0);
     background-color: rgb(218, 218, 218);
     margin-top: 50px;
    .sameCategoryCourses{
      .card-item{
        background-color: rgb(245, 245, 245);
        transition: all 0.3s;
        min-height: 350px;
        margin: 2px 5px;
        border: 1px solid rgb(160, 160, 160);
        position: relative;
      .overlay{
          background-color: rgb(0, 0, 0);
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0.85;   
        }
        button{
          width: 100%;
          cursor: pointer;
          position: absolute;
          padding: 7px 0px;
          background-color: rgb(95, 95, 95);
          color: white;
          border: none;
          bottom: 0px;
        }
        &:hover{
          transform: scale(1.05);
          transition: all 0.3s
        }
        .card-inner{
          min-height: 350px;
          .card-top{
            img{
              width: 100%;
              height:100%;
            }
          } 
          .card-bottom{
            padding: 5px;
            .card-info{
              .best-selling{
                position: absolute;
                right: 20px;
                bottom: 40px;
              }
            }
          }   
        }
      }

    }
   }
    
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: -15px;
  }

  50% {
    bottom: 10px
  }
  
}

.review-div{
  width: 95%;
  margin: 40px auto;
   .review-heading{
     display: flex;
     align-items: center;
     justify-content: space-between;
     .search-review{
       input{
         width: 200%;
         height: 30px ;
         border: 1px solid rgb(107, 107, 107);
         @include border-radius(7px);
         ::placeholder{
          
         }
        }
      }
      .filter-review{
        select{
          width: 100%;
          padding: 0.5em 2em;
          outline: none;
          border: 1px solid black;
        }
      }
   }
   .review-body{
     display: flex;
     padding: 1em 0.2em;
     border-bottom: 1px solid rgb(204, 204, 204);
     .left{
       .avatar{
         width: 100%;
         img{
           width: 50px;
           @include border-radius(50px);
          }
       }
     }
     .right{
      margin-left: 10px;
     // border: 1px solid black;
      width: 100%;
      .comments{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
      }
     }
   }
}




// //////////////////////////////////////////////////MOBILE /////////////////////////////////////////


@media(max-width: 1200px) {
  .courseSelected{
    .center-div{
      margin: 20px 30px;
    }
  }
}

@media(max-width: 800px){
  .courseSelected{
    .center-div{
      margin: 20px 30px;
      .categoryFlex{
        flex-wrap: wrap;
        width: 100%;
        .categoryDetails{
          border: 1px solid black;
          width: 100%;
          margin: auto;
       }
        .preview{
          border: 1px solid black;
          width: 100%;
          margin: auto;
          margin-top: 25px;
          //margin-right: 10px;
          height: 100%;
          .instruction{
            text-align: center;
            margin-bottom: 20px;
            animation: MoveUpDown 2s linear infinite;
            position: relative;
          }
        }
        
      }
    }
  }

  .review-div{
    width: 95%;
    margin: auto;
     .review-heading{
      .search-review{
        input{
          width: 100%;
          height: 26px ;
          border: 1px solid rgb(107, 107, 107);
          @include border-radius(4px);
         }
       }
       .filter-review{
         select{
           width: 100%;
           padding: 0.2em 1em;
           outline: none;
           border: 1px solid black;
         }
       }
     }
     .review-body{
       flex-wrap: wrap;
       .right{
        margin-left: 0px;
        margin-top: 5px;
       }
     }
  }
  
}