  footer .footer-1 >table{
     width: 100%;
 }
 footer .footer-1 > table, th, td {
    border-collapse: collapse;
    text-align: center;
    padding: 0.2em 1em;
  }

  footer .footer-2-flex {
      display: flex;
      text-align: center;
      justify-content: space-around;
  }

  footer .footer-2{
      text-align: center;
  }