
@mixin border-radius($x) {
  border-radius: $x;
  -webkit-border-radius: $x;
  -moz-border-radius: $x;
  -ms-border-radius: $x;
  -o-border-radius: $x;
}

.flex-center{
  display: flex;
  align-items: center;
}


.header >header {
 .desktop-header{
   .cart-icon{
     position: relative;
     small{
      font-size: .7rem;
      position: absolute;
      text-align: center;
      top: -6px;
      right: -5px;
      width: 15px;
      height: 15px;
      color: #fff;
      background-color: red;
      border-radius: 50%;
     }  
   }
    @extend .flex-center;
    justify-content: space-between;
    padding:0.4em 8em;
  
  }



  .nav > nav p {
    display: inline-flex;
    margin-left: 10px;
    cursor: pointer;
  }

  .desktop-header p{
   font-size: 1.05em;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 500;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  @media(max-width: 850px){
    .desktop-header p{
      font-size: 1em;
     }
  }   



  .search{
    width: 30%;
    display: flex;
    align-items: center;
    border: 1px solid #86949B;
    padding: 5px 14px;
    @include border-radius(20px); 
    .search-icon{
      color: #B0B7BA;
    }
    input{
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    color: #6b6b6b;
    }
  }

  .user{
    background-color: #02897A;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px 15px;
    border-radius: 2px;
    width: fit-content;
    .user-icon{
      color: rgb(105, 105, 105);
      margin-right: 10px; 
    }
  }

@media (max-width: 850px) {
  .user{
    background-color: #02897A;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px 13px;
    border-radius: 2px;
    width: fit-content;
    font-size: 15px;
    .user-icon{
      width: 14px;
      color: rgb(105, 105, 105);
      margin-right: 10px; 
    }
  }
}


  .Authentication button{
    margin-left: 20px;
    cursor: pointer;
  } 

}



/* header display when screen size is less than 1200px */
@media(max-width:1200px) {
	.header >header {
    .search input{
			width: 90%;	
		}
  }
  .header >header {
    .desktop-header{
       padding: 0.3em 5em;
     
     }
    } 
}

@media(max-width:1000px) {
  .header >header {
    .desktop-header{
       padding: 0.3em 2em;
     
     }
    } 
}





/* header display when screen size is less than 850px */
@media(max-width:850px) {
	.header >header {
    .search input{
			width: 90%;
		} 
    .search{
      display: none;
    } 
  }
  .header >header {
    .desktop-header{
       padding: 0.3em 0.5em;
     }
    }
  
}


@media (max-width: 750px){
  .header >header .desktop-header{
    display: none;
  }
  
}



/* CategoryList */
.categoryList  { 
  border: 1px solid black;
  background-color: blanchedalmond;
  position: absolute;
  top: 70px;
  left: 15%;
  z-index: 100;
  ul{
    list-style: none;
    width: 100px;
    padding: 0.4em 0.7em 0.6em 1em;
    li {
      padding: 1em 1em 1em 0em;
    }
  }
}


/* Profile details */
.profile{
  border: 1px solid black;
  background-color: beige;
  width:300px;
  position: absolute;
  top: 70px;
  right: 3%;
  z-index: 100;
  height: 60%;

  .profile-details{
    @extend .flex-center;
    padding: 0.4em 0.2em;
    margin-left: 20px;
    .email-name{
      margin-left: 10px;
    }
  }

  .profile-list ul li {
    list-style: none;
    margin-top: 25px;
    small{
      float: right;
      margin-right: 20px;
    }
  }

  .logOut {
    margin-left: 25px;
  }   
}

@media(max-width: '750px'){
  .profile{
    display: none !important;
  }
  .categoryList{
    display: none !important;
  }
}


/* ///////////////////////////Design for  mobileview///////////
 */


.mobile-header {
  small{
    background-color: rgb(247, 43, 43);
    color: white;
    text-align: center;
    //font-weight: 700;
    height: 15px;
    width: 15px;
    font-size: .7rem;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 7px 
   }
   
  .mobile-icons{
    @extend .flex-center;
    justify-content: space-between;
    padding: 0.3em 1em;
    *{
      cursor: pointer;
    }
  }
  
  .side-bar{
    border:1px solid black;
    width:350px;
    margin-left: 20px;
    padding: 0.1em 1em;

    .sidebar-profile .profile-details{
      @extend .flex-center;
      padding: 0.4em 0.2em;
    }

    .category ul li, .profile-list ul li {
      list-style: none;
      margin-top: 10px;
      cursor: pointer;
    }

    .profile-list ul li small {
      float: right;
    }
  }
}
  

@media (min-width: 750px){
 .mobile-header {
  .mobile-icons{
    display: none;
  }
 }
  
}
