.header >header .desktop-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header >header .nav > nav p {
    display: inline-flex;
    margin-left: 10px;
    cursor: pointer;
}

.header > header  .search{
    width: 30%;
    position: relative;
}

.header >header .search .search-icon{
   font-size: 16px;
   position: absolute;
   color: rgb(173, 173, 173);
   right: -20px;
   top: 6px;
}


.header >header .user .user-icon{
    font-size: 30px;
    color: rgb(105, 105, 105);
    cursor: pointer;
 }

.header >header .search input{
    width: 100%;
    padding: 0.5em 1em;
    outline: none;
    border: 1px solid black;
    border-radius: 7px;
 }

 .header >header .language >select{
     padding: 0.2em;
     cursor: pointer;
 }

.header >header .Authentication button{
     margin-left: 20px;
     cursor: pointer;
} 

/* header display when screen size is less than 1200px */
@media(max-width:1200px) {
	.header >header .search input{
			width: 90%;	
		}
    .header >header .search .search-icon{
			right: 5%;	
	  }  
}


/* header display when screen size is less than 850px */
@media(max-width:850px) {
  
	.header >header .search input{
			width: 90%;
			padding: 0.4em 0.6em;
		}
		.header >header .search .search-icon{
			font-size: 16px;
			position: absolute;
			color: rgb(173, 173, 173);
			right: 5%;
			top: 6px;
	   }     
}

@media (max-width: 750px){
  .header >header .desktop-header{
    display: none;
  }
}



/* CategoryList */
.categoryList >ul{
  list-style: none;
  border: 1px solid black;
  width: 80px;
  margin-left: 10px;
  padding: 0.4em 0.7em 0.6em 1em;
  display: none;
}
 .categoryList ul li {
   padding: 1em 1em 1em 0em;
 }

/* Profile details */
.profile{
  border: 1px solid black;
  width:300px;
  margin-left: 20px;
  height: 100%;
  display: none;
}

.profile .profile-details{
  display: flex;
  align-items: center;
  padding: 0.4em 0.2em;
  margin-left: 20px;
}

.profile .profile-details .email-name{
  margin-left: 10px;
}

.profile .profile-list ul li {
  list-style: none;
  margin-top: 25px;
}

.profile .profile-list ul li small{
  float: right;
  margin-right: 20px;
}


.profile .logOut {
  margin-left: 25px;
}



/* ///////////////////////////Design for  mobileview///////////
 */


 .mobile-header .mobile-icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
}

.mobile-header .mobile-icons *{
  cursor: pointer;
}

.mobile-header .side-bar .category ul li, .profile-list ul li {
    list-style: none;
    margin-top: 10px;
    cursor: pointer;
}

/* .mobile-header .side-bar .category ul li{
  display: none;
} */

.mobile-header .side-bar .profile-list ul li small {
  float: right;
}

.mobile-header .side-bar{
  border:1px solid black;
  width:350px;
  margin-left: 20px;
  padding: 0.1em 1em;
}
/* .mobile-header .side-bar .sidebar-profile{
  width: 300px;
  margin-left: 20px;
  padding: 0.1em 1em;
} */

.mobile-header .side-bar .sidebar-profile .profile-details{
  display: flex;
  align-items: center;
  padding: 0.4em 0.2em;
}


@media (min-width: 750px){
 .mobile-header  .mobile-icons{
    display: none;
  }
}


/* mobile search input style */

@media(min-width: 750px){
  .mobileSearchDiv{
    display: none;
  }
}