

.purchaseHistory{
  .center_div{
    margin: 4em  8em 6em 8em;
    padding: 2em 3em;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    .title{
      font-size: 23px;
      font-weight: 500;
      margin-bottom: 10px;
      color:#026E78;
    }
    .body{
     overflow-x: auto;
     width: 100%;
     &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
      background-color: rgb(121, 180, 175);
      border-radius: 100px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      // background-color: #003e68;
      background-color: #026E78;
      border-radius: 100px;
    }

      table{
        width: 100%;
        min-width: 900px;
        thead{
          tr{
            th{
              font-size: 0.9em;
              font-weight: 500;
              color: rgb(117, 117, 117);
              padding: 0.9em 0;
              text-align: left;
              //border-top: 1px solid #D9D9D9;

            }
          }
        }
        tbody{
          tr{
            td{
              padding: 1.8em 0;
              font-size: 0.9em;
              font-weight: 400;
              color: #22343D;
              text-align: left;
              border-top: 1px solid #D9D9D9;
            }
          }
        }
      }
      table, th, td {
        border-collapse: collapse;
      }     
    }
  }
}


@media(max-width: 1200px){
  .purchaseHistory{
  .center_div{
   margin: 2em 5em;
  } 
} 
}

@media(max-width: 1000px){
  .purchaseHistory{
    .center_div{
     margin: 2em 2em;
    } 
  } 
}

@media(max-width: 850px){
  .purchaseHistory{
    .center_div{
      margin: 2em 1em;
      padding: 2em;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
      .title{
        font-size: 20px;
      }
    }
  } 
}