// HEROSECTION
.hero_section {
  background-image: url("https://res.cloudinary.com/rririsrisurisux/image/upload/v1655009256/Hero_z72vxs.png");
  background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  color: white;
  position: relative;
  padding: 8em;
}

.hero_section .overlay{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero_section section{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0 auto;
  width: 40%;
  z-index: 10;
}

.hero_section header{
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}

.hero_section p{
  font-size: 25px;
  margin: 1em 0;
}


.hero_section button{
  background-color: #02897A;
  letter-spacing: 0.03em;
  font-family: 'arial';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 25px;
  border-radius: 3px;
  color: white;
  outline: none;
  border: none;
  width: fit-content;
}

.hero_section button:hover{
  background-color: #007568;
}



@media(max-width:1500px){
  .hero_section header{
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
  }
  .hero_section section{
    width: 50%;
  }

}


@media (max-width: 1200px) {
  .hero_section {
    height: 90vh;
    padding: 5em;
  }
  .hero_section button{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 20px;
  }
  .hero_section header{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }

  .hero_section p{
    font-size: 22px;
    //line-height: 40px;
  }

  .hero_section section{
    width: 55%;
  }
  
}

@media (max-width: 1000px) {
  .hero_section {
    width: 100%;
    padding: 2em;
  }
}

@media (max-width: 850px) {
  .hero_section {
    background-position: left;
    height: 60vh;
    padding: 1em;
  }
  .hero_section header{
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
  }
  .hero_section button{
    font-weight: 400;
    font-size: 15px;
    padding: 6px 18px;
  }

  .hero_section p{
    font-size: 18px;
  }
  .hero_section section{
    width: 65%;
  }
  
}

@media (max-width: 500px) {
  .hero_section {
    background-position: left;
    height: 50vh;
    padding: 1em;
  }
  .hero_section header{
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
  }

  .hero_section section{
    width: 90%;
  }
  
}






























// ////////////////////////FEATURED COURSES ////////////////////////////

.featuredCourses {
  margin: 10px 20px;
  background-color: rgb(226, 226, 226);
  .heading{
    text-align: center;
  }
  .course-card{
    margin: 10px;
    .card-item{
      background-color: white;
      transition: all 0.3s;
      min-height: 350px;
      margin: 10px 5px;
      position: relative;
      .overlay{
          background-color: rgb(0, 0, 0);
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0.85;   
        }
        button{
          width: 100%;
          cursor: pointer;
          position: absolute;
          padding: 7px 0px;
          background-color: rgb(95, 95, 95);
          color: white;
          border: none;
          bottom: 0px;
        }  
      &:hover{
        transform: scale(1.05);
        transition: all 0.3s
      }
      
      .card-inner{
        min-height: 350px;
        .card-top{
          img{
            width: 100%;
            height:100%;
          }
        } 
        .card-bottom{
          padding: 5px;
          .card-info{
            .best-selling{
              position: absolute;
              right: 20px;
              bottom: 40px;
            }
          }
        }   
      }
    }
  }
 
}





// @media(max-width: 1200px){

   
// }

// @media(max-width: 850px){
//   // .featuredCourses .course-box-list .course-box{
//   //   width: 45%;   
//   // }
// }

// @media(max-width: 600px){
//   // .featuredCourses .course-box-list .course-box{
//   //   width: 75%;   
//   // }
// }

// @media(max-width: 360px){
//   // .featuredCourses .course-box-list .course-box{
//   //   width: 95%;  
//   //   margin-bottom: 12px; 
//   // }
// }


/* ///////ABOUT INSTRUCTOR */

.instructor-div .about-instructor {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  width: 100%;

  img {
    width: 20%;
  }

  .instructor-details {
    width: 40%;
    margin-left: 30px;
    border: 1px solid black;
  }  
}


@media(max-width: 1200px) {
  .instructor-div .about-instructor >img {
    width: 40%;
  }       
}

@media(max-width: 700px) {
  .instructor-div .about-instructor {

    img {
      width: 60%;
    } 

    .instructor-details {
      width: 60%;
      margin-top: 20px;
    }
  }          
}

/* ABOUT THE PROJECT */

.aboutProject-div {
  .aboutProject-boxlist{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .aboutProject-box{
    text-align: center;
  }
}





