.flex-center{
  display: flex;
  align-items: center;
}

.featuredCourses {
  margin: 10px 20px;

  .course-box-list{
    @extend .flex-center;
    justify-content: space-around;
    flex-wrap: wrap;
    .course-box{
      border: 1px solid rgb(3, 146, 171);
      width: 15%; 
      margin: 20px 10px; 
      
      img{
        width: 100%;    
      }
    }

    .course-box-details{
      padding: 0 0.5em;
    }
  }
}





@media(max-width: 1200px){
  .featuredCourses .course-box-list .course-box{
    width: 30%;   
  }
}

@media(max-width: 850px){
  .featuredCourses .course-box-list .course-box{
    width: 45%;   
  }
}

@media(max-width: 600px){
  .featuredCourses .course-box-list .course-box{
    width: 75%;   
  }
}

@media(max-width: 360px){
  .featuredCourses .course-box-list .course-box{
    width: 95%;  
    margin-bottom: 12px; 
  }
}


/* ///////ABOUT INSTRUCTOR */
/* .instructor-div{
    width: 100%;
} */

.instructor-div .about-instructor {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  width: 100%;

  img {
    width: 20%;
  }

  .instructor-details {
    width: 40%;
    margin-left: 30px;
    border: 1px solid black;
  }  
}


@media(max-width: 1200px) {
  .instructor-div .about-instructor >img {
    width: 40%;
  }       
}

@media(max-width: 700px) {
  .instructor-div .about-instructor {

    img {
      width: 60%;
    } 

    .instructor-details {
      width: 60%;
      margin-top: 20px;
    }
  }          
}

/* ABOUT THE PROJECT */

.aboutProject-div {
  .aboutProject-boxlist{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .aboutProject-box{
    text-align: center;
  }
}
