
.login{
	.heading-body{
     margin: auto;
     padding: 150px 0; 
    display: flex;
    width: 35%;
     //align-items: center;
     flex-direction: column;
    .heading{
		text-align: center;
		font-weight: 600;
    margin: auto;
    }
  }
}

@media(max-width: 1200px){
  .login{
    .heading-body{
      width: 50%;
    }
  }
}

@media(max-width: 950px){
  .login{
    .heading-body{
      width: 60%;
    }
  }
}

@media(max-width: 750px){
	.login{
		.heading-body{
			 width: 90%;
       margin: auto;
			.heading{
				font-weight: 600;
				color: white;
			}
		}
	}
}

@media(max-width: 500px){
	.login{
		.heading-body{
			 width: 100%; 
			// .heading{
			// 	// font-size: 28px;
			// }
		}
	}
}