.login{
	background-color: rgb(44, 43, 43);
	width: 100%;
	height: 100%;
	margin: 0;
	position: fixed;
	.heading-body{
    margin: 20px auto;
   // border: 1px solid black;
     width: 50%;
		 padding: 20px; 
    .heading{
			text-align: center;
			font-size: 32px;
			font-weight: 600;
			color: white;
    }
  }
}

@media(max-width: 750px){
	.login{
		.heading-body{
			 width: 80%;
			 padding: 20px; 
			.heading{
				text-align: center;
				font-size: 32px;
				font-weight: 600;
				color: white;
			}
		}
	}
}

@media(max-width: 500px){
	.login{
		.heading-body{
			 width: 90%; 
			.heading{
				font-size: 28px;
			}
		}
	}
}