.myCourse{
  // *{
  //   outline: 1px solid rgb(82, 82, 82);
  // }
  .title{
			background-color : black;
			padding: 1em 3em;
			}
			.body{
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(220px,1fr ));
				grid-gap: 15px;
			    padding: 1em 3em;		
				.myCourse-box{
					border: 1px solid black;
          .details{
            padding-left: 0.5em;
          }
					.image{
						width: 100%;
						img{
							width: 100%;
						}
					}
				}
			}
    }





@media(max-width: 800px){
	.myCourse {
		.center-div{
				.title{
					padding: 1em 1.5em;
				}
				.body{
         // width: 100%;
          //display: inline;
          //display: inline-block;
         // width: 50%;
        //  grid-template-columns: auto auto auto auto auto;
        //    overflow-x: scroll;
					  .myCourse-box{
              
					  }
				}
		}
	}
}

