.watch{
    .iframe{
        margin: auto;
        width: 70%;
        height: 90vh;
    }
}


@media (max-width: '800px'){
    .watch{
        .iframe{
            margin: auto;
            width: 90%;
            height: 70vh;
        }
    }
}