.watch{
    background-color: rgb(0, 0, 0);
    padding: 30px 0px;
    height: 100vh;
    .iframe{
        margin: auto;
        width: 70%;
        height: 90vh;
    }
}


@media (max-width: '800px'){
    .watch{
        .iframe{
            margin: auto;
            width: 90%;
            height: 70vh;
           
        }
    }
}